/*
Arancione: #eaa725
Blu: #00567c
 */

html, body {
  font-family: 'Encode Sans', sans-serif;
  font-size: 14px;
  background-color: #fff;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.75em;
  padding-top: 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: #00567c; /* corporate color */

}

h2 {
  font-size: 1.45rem;
  font-weight: 700;
  color: #00567c;
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 1.25rem;
  color: #00567c;

}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1.25rem;
  color: #00567c;
}

h5 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 1.25rem;
  color: #00567c;
}

a, a:hover {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #00567c !important;
}

ul li, p {
  //line-height: 1.6rem;
}

header {
  height: 100px !important;
  background-color: #f4f4f4 !important;
}

.container {
  position: relative;
}

.logo {
  position: absolute;
  top: 3px;
  left: 0;
  z-index: 1;
}

.logo img {
  height: 70px;
}

.footer {
  font-size: 1rem !important;
}

.footer a {
  color: #498586;
}

.col-left {

}

.col-main {

}

.cd-main-header {
  height: 78px !important;
  background-color: transparent;
}

.slick-slide:focus {
  outline: none !important;
}

/* MAINMENU */
.mainmenu {
  padding-bottom: 0;
}

.mainmenu .nav-item {
  border-left: 0px solid #ffffff;
  border-right: 0px solid #ffffff;
}

.mainmenu .nav-item .nav-link {
  color: #000000;
  border-left: 8px solid #ffffff;
  border-right: 8px solid #ffffff;
}

.mainmenu .nav-item:hover .nav-link, .mainmenu .nav-item.active .nav-link, .mainmenu .hgactive {
  color: #ffffff !important;
  background-color: #00567c !important;
}

.mainmenu .nav-link {
  font-size: 1.1rem;
  font-weight: 600;
}

.mainmenu .dropdown-menu {
  margin-top: 0;
  border-top: 0;
  border-left: 8px solid #ffffff;
  border-right: 8px solid #ffffff;
  border-bottom: 8px solid #ffffff;
  border-radius: 0;
  background-color: #00567c;
}

.mainmenu .dropdown-toggle::after {
  display: none
}

.mainmenu .dropdown:hover > .dropdown-menu {
  display: block;
}

.mainmenu .dropdown-item {
  color: #ffffff !important;
  background-color: #00567c;
  font-weight: 500;
}

.mainmenu .dropdown-item:hover {
  color: #eaa725 !important;
  background-color: #00567c;

}

.mainmenu .dropdown-item.separator {
  margin: 5px 5%;
  padding: 0;
  width: 90%;
  border-top: 1px solid #f2f2f2;
  text-indent: -9999px;
  height: 0;
}

/* SECTIONMENU */
.sectionmenu {
  padding: 1.6em 0.1em;
  border: 8px solid #00567c;
}

.sectionmenu .nav-link {
  font-size: 1.2em;
  font-weight: 500;
  color: #2d2d2d;
  line-height: 1.2rem;
}

.sectionmenu .nav-link.active {
  /*content: "\2022";*/
  padding-left: 1em;
  font-weight: 600;
  color: #00567c;
  color: #eaa725;
}

.sectionmenu .nav-link.active:before {
  /*content: "\2022\2002";*/
}

.mainmenu .dropdown-item.amministrazione-trasparente-item, .sectionmenu .nav-link.amministrazione-trasparente-item {
  color: #000000 !important;
  background-color: #cccccc !important;
}

.mainmenu .dropdown-item.amministrazione-trasparente-item:hover {
  color: #eaa725 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-grey {
  background-color: #ededed !important;
}

.bg-grey-light {
  background-color: #f2f2f2 !important;
}

.bg-corporate {
  background-color: #00567c !important;
}

.bg-secondary {
  background-color: #eaa725 !important;
}

a.bg-secondary:hover {
  color: #ffffff !important;
  background-color: #ce9018 !important;
}

.color-default {
  color: #2d2d2d !important;
}

.color-black {
  color: #000 !important;
}

.color-white {
  color: #fff !important;
}

.color-grey {
  color: #ededed !important;
}

.color-grey-light {
  color: #f2f2f2 !important;
}

.color-corporate {
  color: #00567c !important;
}

.color-secondary {
  color: #eaa725 !important;
}

.color-corporate-light {
  color: #006693 !important;
}

a.more-events-lnk:hover {
  color: #ffffff !important;
}

.sliderHP {
  padding: 3vw 0;
  background-image: url(/wp-content/themes/odctrento2018/assets/images/bg-header.png);
  background-size: auto 95%;
  background-repeat: no-repeat;
  background-position: bottom right;

}

.sliderHP h1 {
  font-size: 8vw;
  font-weight: 400;
  color: #2d2d2d; /*  default color */
}

.newsHP {

}

.news-item {
  margin: 3em 0 1em 0;
  border-top: 5px solid #fff !important;
  border-top: 5px solid #fff !important;
}

.news-item {
  border-top: 5px solid #ededed !important;
}

.newsHP .news-item {
  border-top: 5px solid #fff !important;
}

.news-item .date {
  position: absolute;
  margin-top: -1.12rem;
  margin-left: -1px;
  padding-left: 1px;
  padding-right: 1em;
  font-size: 16px;
  font-weight: 700;
}

.newsHP h2, .appuntamentiHP h2 {
  font-size: 2rem;
  font-weight: 600;
}

.newsHP .news-item h3 {
  margin: 1em 0 0.5em 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: #35686a;
}
.newsHP .news-item a h3, .newsHP .news-item a:hover h3 {
  color: #eaa725 !important;
}

.newsHP .news-item p {
  margin: 0;
  font-size: 1rem;
}

.slick-dots li button::before {
  color: #fff !important;
}

.appuntamentiHP {

}

.appuntamentiHP h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.appuntamentiHP a h3, .appuntamentiHP a:hover h3 {
  color: #eaa725 !important;
}

.breadcrumb-item {
  font-size: .9rem;
  color: #a0b9a9;
}

.breadcrumb-item a {
  color: #a0b9a9;
}

.card {
  margin-bottom: 2em;
}

header.sticky-top {
  top: 0;
}

.sectionmenu.sticky-top {
  top: 5.5em;
}

.navbar-toggler {
  background-color: #00567c !important;
}

.navbar-toggler i {
  color: #fff;
}

.appuntamentiHP .nav-tabs .nav-item {
  width: 30%;
  margin-right: 5%;
}

.appuntamentiHP .nav-tabs .nav-item:last-child {
  margin-right: 0;
}

.appuntamentiHP .nav-tabs a, .nav-tabs a:hover {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  text-align: center;
  color: #000000;
  border: 10px solid #b6b6b6 !important;
}

.appuntamentiHP .nav-tabs a.active {
  padding-bottom: 4em;
  color: #eaa725;
  border-color: #eaa725 !important;
}

.appuntamentiHP .nav-tabs .nav-link {
  border-radius: 0;
  border: 10px solid #006693;
}

.appuntamentiHP .nav-tabs .nav-link.active {
  border-color: #eaa725;
  border-bottom: 0 !important;
}

.appuntamentiHP .tab-content {
  margin-top: -10px;
  border: 10px solid #eaa725;
  background-color: #ffffff;
}

.appuntamentiHP .date-day {
  display: block;
  font-size: 3em;
  font-weight: 700;
}

.appuntamentiHP .date-month {
  display: block;
  font-size: 1em;
  font-weight: 400;
}

.box-hp {
  border: 10px solid #00567c;
}

.box-hp.box-hp-albo {
  background: #fff url(/wp-content/themes/odctrento2018/assets/images/bg-box-hp-albo.jpg) no-repeat top right;
}

.box-hp.box-amministrazione-trasparente {
  background: #fff url(/wp-content/themes/odctrento2018/assets/images/bg-box-hp-amministrazione-trasparente.jpg) no-repeat top right;
}

.box-hp.box-hp-formazione {
  background: #fff url(/wp-content/themes/odctrento2018/assets/images/bg-box-hp-formazione.jpg) no-repeat top right;
}

header .search-container .bop-nav-search {
  display: none;
}

header form.bop-nav-search {
  margin-top: 1em;
  margin-right: 1.3em;
}

header form.bop-nav-search label {
  margin-right: 1em;
  font-weight: 500;
}

header form.bop-nav-search input#s {
  transition-duration: 0.6s;
  width: 33px;
  margin: 0 -4px 0 0;
  outline: none;
  padding: 2px 5px 2px 5px;
  border: solid 1px #555555;
  border-right: none;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.5;
}

header form.bop-nav-search .top-search {
  transition-duration: 0.6s;
  background-color: #00567c !important;
  color: #fff !important;
  border: none;
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
  //opacity: 0.5;
}

header form.bop-nav-search input#s:focus {
  width: 150px;
}

.cd-header-buttons {
  top: 0;
  right: 0;
}

.cd-header-buttons .cd-nav-trigger {
  margin-top: 10px;
  margin-right: 10px;
}

.cd-header-buttons .cd-nav-trigger.nav-is-visible {
  margin-right: 0;
}

.cd-header-buttons .cd-nav-trigger, .cd-header-buttons .nav-is-visible {
  background-color: #00567c;
}

.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after,
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
  background: #ffffff;
}

#cd-primary-nav {
  margin: 0;
  padding: 0 2em;
  list-style: none;
  background-color: #00567c;
  background: #498586; /* Old browsers */
  background: -moz-linear-gradient(top, #00567c 0%, #034360 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #00567c 0%, #034360 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #00567c 0%, #034360 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00567c', endColorstr='#034360', GradientType=0); /* IE6-9 */
}

#cd-primary-nav li a {
  padding: 0 0.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 2px solid #86afb1;
  color: #ffffff;
}

#cd-primary-nav li a:hover {
  color: #eaa725 !important;
}

.items-list {
  margin-bottom: 2em;
}

.items-list .item {
  margin-bottom: 2em;
}

.items-list .item .date {
  border: 8px solid #b6b6b6;
}

.items-list .date-day, .items-list .date-month, .items-list .date-year {
  display: block;
  font-weight: 600;
}

.items-list .date-day {
  font-size: 3.2rem;
}

.items-list .date-month {
  font-size: 1.5rem;
  font-weight: 500;
}

.items-list .title {
  margin-top: 0;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 2.6vw;
  }

  h2 {
    font-size: 2em;
  }
  h3 {
    margin-top: 2em;
  }
  ul li, p {
    //line-height: 2rem;
  }
  .appuntamentiHP .date-day {
    font-size: 4.5vw;
  }
  .appuntamentiHP .date-month {
    font-size: 2vw;
  }
}

@media screen and (min-width: 992px) {
  header {
    background-color: #ffffff !important;
  }
  header .search-container .bop-nav-search {
    display: block;
  }
  .logo img {
    height: 110px;
  }

  .sliderHP h1 {
    font-size: 3.6vw;
  }

  .newsHP h2, .appuntamentiHP h2 {
    font-size: 3rem;
  }

  .interna .cd-main-header {
    height: 124px !important;
    border-bottom: 8px solid #eaa725;
  }

  .cd-nav, .cd-nav-trigger {
    display: none;
  }
}

@media screen and (min-width: 1201px) {
  .appuntamentiHP .date-day {
    font-size: 4.0vw;
  }
  .appuntamentiHP .date-month {
    font-size: 1.5vw;
  }
}

@media screen and (min-width: 1921px) {
  .appuntamentiHP .date-day {
    font-size: 3.5vw;
  }
  .appuntamentiHP .date-month {
    font-size: 1.2vw;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px !important;
  }
}

.maincontent {
  line-height: 2em;
}

.search-container {
  padding: 14px 0;
}

ul.attachments {
  margin-left: 1em;
  padding-left: 0;
}

ul.attachments li.icon-pdf {
  margin: 0;
  padding: 0.4em 0 0.4em 35px;
}

ul.attachments li.icon-pdf {
  list-style: none;
  background: url(/wp-content/themes/odctrento2018/assets/images/icon-pdf.svg) no-repeat 0 5px;
  background-size: 30px 30px;
}

.commissioni {
  //padding: 0.2em;
}
.commissioni h5 {
  padding: 0.3em 0.5em;
  background-color: #f4f4f4;
}


.table-striped tbody tr:nth-of-type(odd) {
  background-color: #e2e2e2;
}

.select2 {
  width: 100% !important;
}

@media screen and (max-width: 414px) {
  .table td {
    display: block !important;
  }
}

.page-item .page-link {
  color: #00567c;
}
.page-item.active .page-link {
  background-color: #00567c;
  border-color: #00567c;
}